main {
  header {
    .container {
      @include flex (row, space-between, center);
    }

    .container-logo {
      display: flex;
      align-items: center;
      gap: 5rem
    }

    .container-profile {
      .btn-menu {
        display: none;
      }
    }

    nav {
      .logo-mobile {
        display: none;
      }

      ul {
        @include flex (row, flex-start, center);
        gap: 2rem;

        li {
          @include flex (row, flex-start, center);
          gap: 1rem;
          color: $white;

        }
      }
    }

    .profile {
      display: flex;
      align-items: center;
      gap: 1.4rem;

      p {
        color: $white;
        font-weight: 500;
      }
    }

    @include responsive(768px) {

      nav {
        flex-direction: column;

        .logo-mobile {
          display: block;
          margin-bottom: 6rem;
        }

        background-color: rgba(0, 0, 0, 0.93);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all ease-in 0.3s;

        ul {
          flex-direction: column;

          li {
            gap: 3rem;

            img {
              width: 5rem;
              height: 5rem;
            }

            p {
              font-size: 5rem;
            }
          }
        }
      }

      .container-profile {
        display: flex;
        align-items: center;
        gap: 2rem;

        .btn-menu {
          display: block;

          .btn-open,
          .btn-close {
            width: 6rem;
            height: 6rem;
            filter: brightness(0) invert(1);
          }

          .btn-close {
            display: none;
          }
        }
      }

    }
  }

  @include responsive(768px) {
    .nav-open {
      nav {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      .container-profile {
        .btn-menu {
          .btn-open {
            display: none;
          }

          .btn-close {
            display: block;
          }
        }
      }
    }
  }
}